@media only screen and (max-width: 1400px) {
  body {
    width: 820px;
    padding: 10px 0;
  }

  .cards {
    flex-direction: column;
  }

  .cards {
    flex-direction: row;
  }

  .tb-none {
    display: none;
  }
}
